@model Product_Management_System.Models.tbl_Products

@{
    ViewBag.Title = "AddProduct";
}

<html>
<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="~/Content/CSS/Site2.css" rel="stylesheet" />


</head>
<body style="overflow-x:hidden; overflow-y:hidden;">
    <nav class="navbar bg-light navbar-light" style="margin-left:290px; margin-top:10px; margin-right:5px;">

        <ul class="navbar-nav">
            <li class="nav-item">
                <p class="font-weight-bolder mt-2">Welcome User !! </p>
            </li>
        </ul>

        <div>
            <button class="btn btn-outline-secondary mx-3 my-2" onclick="location.href='@Url.Action("Logout", "MVC")'">Logout</button>
        </div>
    </nav>

   
    <div class="row" style="margin-left:290px; margin-top:15px;">
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa fa-plus"></i> Click Here</button>
        <h6 class="ml-3 mt-2">Add New Product</h6>
    </div>

 

    <div class="vertical-nav bg-white" id="sidebar" style="margin-left:5px; margin-top:10px;">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center">

                <img src="@Session["userimg"]" alt="..." width="90" height="90" style="border:4px solid white;" class="mr-3 rounded-circle shadow-sm" />
                
                <div class="media-body">
                    <h6 class="m-0">@Session["useremail"]</h6>
                    <p class="font-weight-normal text-muted mb-0">Web User</p>
                </div>
            </div>
        </div>

        <p class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

        <ul class="ulclass" style="list-style:none;">
            <li class="nav-text">
                <a href="/MVC/Dashboard" class="nav-link text-white bg-transparent">
                    <i class="fas fa fa-dashboard"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-text">
                <a href="/MVC/AddProduct" class="nav-link text-white bg-transparent">
                    <i class="fas fa fa-plus-circle"></i>
                    Add Product
                </a>
            </li>
            <li class="nav-text">

                <a href="/MVC/ProductList" class="nav-link text-white bg-transparent">
                    <i class="fas fa fa-list"></i>
                    List
                </a>
            </li>
        </ul>

    </div>


    <div class="center1" style="text-align:center; margin-left:200px;">
        <img class="img-1" src="~/Content/frontend_image/add-product-2.svg" width="700" height="700" />
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width:auto;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @using (Html.BeginForm("AddProduct", "MVC", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()


                        

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.obj, "Id", "Name"), "--- Select a category ---")
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LongDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SmallImage, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="smallimage" required />
                                @Html.ValidationMessageFor(model => model.SmallImage, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LargeImage, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="largeimage" required />
                                @Html.ValidationMessageFor(model => model.LargeImage, "", new { @class = "text-danger" })
                            </div>
                        </div>




                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Add" class="btn btn-success" />
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
